form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > button[type=submit] {
    margin-top: 1.5rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    padding: 0.2rem 2rem;
    max-width: 70rem;
}