form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav > button {
    gap: 0.1rem;
    border: none;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    padding: 0.2rem 2rem;
    max-width: 70rem;
}